process {
    if ( params.seacells.enabled ) {
        withName: "SEACellsAggregate" {
            queue = 'normal'
            cpus = 16
            memory = { 64.GB + 64.GB * (task.attempt - 1) }
            publishDir = [
                mode: params.publish_mode,
                path: params.output_dir,
                overwrite: true
            ]
        }
    }
}