process {
    withName: "SEACellsAggregate" {
        cpus       = { ( task.attempt > 1 ) ? 64 : 16 }
        memory     = { 32.GB + 64.GB * (task.attempt - 1) }
        publishDir = [
            mode     : params.publish_mode,
            path     : { "${params.output_dir}/${sample}" },
            overwrite: true
        ]
    }
}
