process {
    if ( params.seacells.enabled ) {
        withName: "SEACellsAggregate" {
            queue      = { ( task.attempt > 1 ) ? 'hugemem' : 'normal' }
            cpus       = { ( task.attempt > 1 ) ? 64 : 16 }
            memory     = { 32.GB + 800.GB * (task.attempt - 1) }
            container  = 'docker://quay.io/cellgeni/seacells:latest'
            publishDir = [
                mode     : params.publish_mode,
                path     : params.output_dir,
                overwrite: true
            ]
        }
    }
}