
// nextflow flags
nextflow.enable.moduleBinaries = true
nextflow.enable.configProcessNamesValidation = false

// workflow parameters
params {
    // boilerplate params
    outdir              = "results"
    publish_mode        = 'copy'
    tracedir            = "reports"
    trace_report_suffix = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')

    // input arguments
    help            = false
    raw             = false
    filelist        = null
    type            = null
    cell_metadata   = null
    barcode_column  = null
    celltype_column = null
    delimiter       = null
    celltype_label  = null

    // seacells params
    seacells {
        enabled             = false
        n_cells             = null
        gamma               = null
        n_cells             = null
        n_top_genes         = 2000
        n_components        = 50
        convergence_epsilon = 0.00001
        min_iterations      = 10
        max_iterations      = 50
        use_sparse          = false
        precomputed         = false
    }

    hierarchial {
        enabled          = false
        method           = "louvain"
        n_min            = null
        n_max            = null
        n_top_genes      = 2000
        n_components     = 50
        n_neighbors      = 15
        precomputed      = false
    }

}

process {
    queue         = { task.attempt == 1 ? 'normal' : 'long' }
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) || task.attempt <= 2 ? 'retry' : 'finish' }
    maxRetries    = 5
}

// Set bash options
process.shell = [
    "bash",
    "-C",         // No clobber - prevent output redirection from overwriting files.
    "-e",         // Exit if a tool returns a non-zero status/exit code
    "-u",         // Treat unset variables and parameters as an error
    "-o",         // Returns the status of the last command to exit..
    "pipefail"    //   ..with a non-zero status or zero if all successfully execute
]

singularity {
    enabled     = true
    autoMounts  = true
    pullTimeout = '120m'
    runOptions  = '-B /lustre,/nfs'
    cacheDir    = '/nfs/cellgeni/singularity/images/'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
timeline {
    enabled = true
    file    = "reports/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "reports/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "reports/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "reports/pipeline_dag_${params.trace_report_suffix}.html"
}

// Unscoped options
outputDir = params.outdir
cleanup   = false
workDir   = "nf-work"


// Manifest
manifest {
    name            = 'cellgeni/nf-metacells'
    contributors    = [
        [
            name: 'Aljes',
            email: 'ab76@sanger.ac.uk',
            github: 'claptar',
            contribution: ['author', 'maintainer'],
        ],
    ]
    homePage        = 'https://github.com/cellgeni/nf-metacells'
    description     = """Nextflow wrapper pipeline for scanpy/snapatac2 data processing"""
    mainScript      = 'main.nf'
    defaultBranch   = 'main'
    nextflowVersion = '!>=26.04.0'
    version         = '0.1.0'
    doi             = ''
}


// Load module configs
includeConfig 'configs/seacellsaggregate.config'
includeConfig 'configs/hierarchialaggregate.config'
includeConfig 'modules/utils/module.config'