
// nextflow flags
nextflow.enable.moduleBinaries = true

// workflow marapeters
params {
    // process params
    output_dir     = "results"
    publish_mode   = 'copy'

    // input arguments
    help                = false
    filelist            = null

    // seacells params
    seacells {
        enabled             = false
        n_cells             = null
        gamma               = null
        n_cells             = null
        type                = null
        n_top_genes         = 2000
        n_components        = 50
        celltype_label      = null
        convergence_epsilon = 0.00001
        min_iterations      = 10
        max_iterations      = 100
    }

}

process {
    queue         = 'normal'
    errorStrategy = 'retry'
    maxRetries    = 5
}

// Load module config
includeConfig 'modules/SEAcells/module.config'

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs'
    cacheDir   = '/nfs/cellgeni/singularity/images/'
    pullTimeout = '100m'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
import java.time.*
Date now = new Date()

params {
    tracedir  = "reports"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_trace.tsv"
}

// Unscoped options
outputDir = params.output_dir
cleanup   = false
workDir   = "nf-work"