
// nextflow flags
nextflow.enable.moduleBinaries = true

// workflow parameters
params {
    // process params
    output_dir     = "results"
    publish_mode   = 'copy'

    // input arguments
    help                = false
    h5                  = false
    filelist            = null
    type                = null
    celltype_annotation = null
    celltype_label      = null
    delimiter           = null

    // seacells params
    seacells {
        enabled             = false
        n_cells             = null
        gamma               = null
        n_cells             = null
        n_top_genes         = 2000
        n_components        = 50
        convergence_epsilon = 0.00001
        min_iterations      = 10
        max_iterations      = 50
        use_sparse          = false
    }

    hierarchial {
        enabled          = false
        method           = "louvain"
        n_min            = null
        n_max            = null
        n_top_genes      = 2000
        n_components     = 50
        n_neighbors      = 10
        precomputed      = false
    }

}

process {
    queue         = 'normal'
    errorStrategy = 'retry'
    maxRetries    = 5
}

// Load module configs
includeConfig 'modules/SEAcells/module.config'
includeConfig 'modules/hierarchial/module.config'
includeConfig 'modules/utils/module.config'

singularity {
    enabled    = true
    autoMounts = true
    runOptions = '-B /lustre,/nfs'
    cacheDir   = '/nfs/cellgeni/singularity/images/'
    pullTimeout = '100m'
}

executor {
    name           = 'lsf'
    perJobMemLimit = true
}

// Capturing Nextflow log files into a 'reports' directory
import java.time.*
Date now = new Date()

params {
    tracedir  = "reports"
    timestamp = now.format("yyyyMMdd-HH-mm-ss")
}

timeline {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_timeline.html"
}

report {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_report.html"
}

trace {
    enabled = true
    file    = "${params.tracedir}/${params.timestamp}_trace.tsv"
}

// Unscoped options
outputDir = params.output_dir
cleanup   = false
workDir   = "nf-work"