process {
    if ( params.hierarchial.enabled ) {
        withName: "HierarchialAggregate" {
            debug         = true
            queue         = 'normal'
            cpus          = 16
            memory        = 32.GB
            container     = 'docker://quay.io/cellgeni/metacells-python:latest'
            errorStrategy = 'finish'
            publishDir    = [
                mode     : params.publish_mode,
                path     : { "${params.output_dir}/${sample}" },
                overwrite: true
            ]
        }
    }
}