process {
    if ( params.hierarchial.enabled ) {
        withName: "HierarchialAggregate" {
            queue      = 'normal'
            cpus       = 16
            memory     = 32.GB
            container  = 'docker://quay.io/cellgeni/metacells-python:latest'
            publishDir = [
                mode     : params.publish_mode,
                path     : { "${params.output_dir}/${sample}" },
                overwrite: true
            ]
        }
    }
}