process {
    withName: "HierarchialAggregate" {
        debug         = true
        cpus          = 16
        memory        = 32.GB
        publishDir    = [
            mode     : params.publish_mode,
            path     : { "${params.output_dir}/${sample}" },
            overwrite: true
        ]
    }
}