process {
    if ( params.raw ) {
        withName: "ToH5ad" {
            queue      = 'normal'
            cpus       = 4
            memory     = { 16.GB + 32.GB * (task.attempt - 1) }
            container  = 'docker://quay.io/cellgeni/metacells-python:latest'
            publishDir = [
                mode     : params.publish_mode,
                path     : "${params.output_dir}/adata/raw",
                overwrite: true
            ]
        }
    }
    if ( params.cell_metadata ) {
        withName: "AttachCellMetadata" {
            debug      = true
            queue      = 'normal'
            cpus       = 4
            memory     = { 16.GB + 32.GB * (task.attempt - 1) }
            container  = 'docker://quay.io/cellgeni/metacells-python:latest'
            publishDir = [
                mode     : params.publish_mode,
                path     : "${params.output_dir}/adata/metadata",
                overwrite: true
            ]
        }
    }
}