process {
    if ( params.hierarchial.enabled ) {
        withName: "HierarchialAggregate" {
            debug         = true
            ext.args      = {
            [   
                "--n_min ${params.hierarchial.n_min}",
                "--n_max ${params.hierarchial.n_max}",
                "--n_top_genes ${params.hierarchial.n_top_genes}",
                "--n_components ${params.hierarchial.n_components}",
                "--n_neighbors ${params.hierarchial.n_neighbors}",
                "--method ${params.hierarchial.method}",
                params.hierarchial.precomputed ? "--precomputed ${params.hierarchial.precomputed}" : "",
                params.delimiter ? "--delimiter ${params.delimiter}" : "",
                "--type ${params.type}"
            ].join(' ')
            }
            queue         = 'normal'
            cpus          = 1
            memory        = 32.GB
            container     = 'docker://quay.io/cellgeni/metacells-python:latest'
            errorStrategy = 'finish'
            publishDir    = [
                mode     : params.publish_mode,
                path     : { "${params.output_dir}/${sample}" },
                overwrite: true
            ]
        }
    }
}