process {
    withName: "HMETACELLS" {
        debug         = true
        ext.args      = {
        [   
            "--type ${params.type}",
            "--n_min ${params.hierarchial.n_min}",
            "--n_max ${params.hierarchial.n_max}",
            "--n_top_genes ${params.hierarchial.n_top_genes}",
            "--n_components ${params.hierarchial.n_components}",
            "--n_neighbors ${params.hierarchial.n_neighbors}",
            "--method ${params.hierarchial.method}",
            params.hierarchial.precomputed ? "--precomputed ${params.hierarchial.precomputed}" : "",
            params.delimiter ? "--delimiter ${params.delimiter}" : "",
            params.celltype_label ? "--celltype_label ${params.celltype_label}" : ""
        ].join(' ')
        }
        queue         = 'normal'
        cpus          = 1
        memory     = { 64.GB + 64.GB * (task.attempt - 1) }
        container     = 'docker://quay.io/cellgeni/metacells-python:latest'
        publishDir    = [
            mode     : params.publish_mode,
            path     : { "${params.outdir}/${meta.id}" },
            overwrite: true
        ]
    }
}