process {
    withName: "SEACELLS" {
        ext.args   = {
            [
                params.seacells.n_cells ? "--n_metacells ${params.seacells.n_cells}" : "",
                params.seacells.gamma ? "--gamma ${params.seacells.gamma}" : "",
                "--type ${params.type}",
                "--n_top_genes ${params.seacells.n_top_genes}",
                "--n_components ${params.seacells.n_components}",
                "--convergence_epsilon ${params.seacells.convergence_epsilon}",
                "--min_iter ${params.seacells.min_iterations}",
                "--max_iter ${params.seacells.max_iterations}",
                params.seacells.use_sparse ? "--use_sparse" : "",
                params.seacells.precomputed ? "--precomputed ${params.seacells.precomputed}" : "",
                params.celltype_label ? "--celltype_label ${params.celltype_label}" : "",
                params.delimiter ? "--delimiter ${params.delimiter}" : ""
            ].findAll { it != null }.join(' ')
        }
        queue      = { ( task.attempt > 3 ) ? 'hugemem' : 'normal' }
        cpus       = { ( task.attempt > 1 ) ? 64 : 16 }
        memory     = { 64.GB + 64.GB * (task.attempt - 1) }
        publishDir = [
            mode     : params.publish_mode,
            path     : { "${params.outdir}/${meta.id}" },
            overwrite: true
        ]
    }
}
